/ meta property='og:image' content='#{ @fb_image }'
/ meta property='og:url' content='#{ @fb_url }'
meta property='og:title' content='Enfermeira Particular em Brasília/DF - Atendimento em Domicílio'
meta property='og:description' content='Enfermeira particular Patricia Somera. Atendimento em domicílio, realização de curativos, orientações e acompanhamento pós-operatório, pós-parto e amamentação.'
meta property='og:site_name' content='Enfermeira Particular em Brasília/DF - Atendimento em Domicílio'
meta property='og:type' content='website'
meta property='og:locale' content='pt_br'